<!DOCTYPE HTML>

<html>
<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- Bootstrap -->
<link href="/css/style.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap-grid.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap-reboot.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap.css" type="text/css" rel="stylesheet">
<script src="https://code.jquery.com/jquery.js"></script>
<body>
<div class="text-center">
	<h1 class="page-header" >Community</h1>
	<div class="container">
		<form class="form" method="POST" action="/community/submit" >
      <textarea style="border-radius:10px; resize:none"
          name="messages" id="messages" placeholder="Discuss With Others About Your Experience! " class="community-text"></textarea><br>
				<input type="submit" class="btn btn-dark" style="font-weight: bold; color:white;" value="Post" ><br>
		</form>
	</div>
	<hr>
	<div class="container">
			{{#each entry}}

			<img src="/images/profileFill.png" class="profile-icon">
			<text>{{email}}</text>
			<br>
			<textarea style="border-radius:10px; resize:none;" class="community-text" readonly>{{message}}</textarea>

			{{/each}}
	</div>
</div>
</body>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/bootstrap.js"></script>
</html>
