<!DOCTYPE HTML>

<html>
<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- Bootstrap -->
<link href="/css/style.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap-grid.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap-reboot.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap.css" type="text/css" rel="stylesheet">
<script src="https://code.jquery.com/jquery.js"></script>
<body>

<div class="text-center">
<h1 class="page-header " style="font-family: Palatino;">Community</h1>
	<div class="container">
		<form class="form" method="POST" action="/community/submit" >
      <textarea style="border-radius:10px; resize:none"
          name="messages" id="messages" placeholder="Discuss With Others About Your Experience! "></textarea><br>
				<input type="submit" class="btn btn-dark" style="font-weight: bold; color:white;" value="Post" ><br>
		</form>
	</div>
	<hr>
	<div class="container">
			{{#each entry}}
			{{if current}}
			<img src="/images/profileFill.png" style="border-radius:50%; width:4vw; height:4vh; margin-top:-4vh">
			<textarea style="border-radius:10px; resize:none;" rows="2" cols="100" readonly>Hi Everyone!</textarea>
			{{else}}
		<textarea style="border-radius:10px; resize:none;" rows="2" cols="100" readonly>Hi Everyone!</textarea>
		<img src="/images/profileFill.png" style="border-radius:50%; width:4vw; height:4vh; margin-top:-4vh">
		{{/if}}
			{{/each}}
	</div>
</div>
</body>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/bootstrap.js"></script>
</html>
