<!DOCTYPE html>
<html>
  <head>


    <title>Food Diary App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <!-- Bootstrap -->
  <link href="/css/style.css"  type="text/css" rel="stylesheet">
  <link href="/css/bootstrap-grid.css"  type="text/css" rel="stylesheet">
  <link href="/css/bootstrap-reboot.css"  type="text/css" rel="stylesheet">
  <link href="/css/bootstrap.css" type="text/css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery.js"></script>
    <link href="/scripts/rateit.css" rel="stylesheet">
  <body>
      <div>
        <a href="#" class="glyphicon glyphicon-question-sign" onclick="helpEntry()" style=" font-size:40px; margin-right: 13px;float:right" role="button" id="help" name="entry"></a>
      </div>
<br>
<div class="text-center">
    <h1 style="font-family:Palatino;">Log Your Meal</h1><br>
    <p class="help-block" id="clock" ></p>

    <form id="addDiary" role="form" method="post" action="/addDiary/ne">
      <input type="file" accept="image/*" id="file-input" capture="environment" required/><br>
       <img id="photo" style="height:25vh;width:25vw;">
       <input type="hidden" id="blob">
        <br>
        <textarea class="text-center" style="border-radius:10px;"
           placeholder="  Comments:                                        Eg: I had a really good time with friends eating this wonderful brunch." name="comments" id="comments"></textarea>
        <br>
         <br/>

        <hr>
     <div class="container"  id="Rating" >
       <text class="Text-input">Taste:</text><br/>
       <div name="taste" class="rateit" id="tasteRate" >
      </div>
      <input type="hidden" name="taste" id="taste" value="0" />
     <hr class="rating-hr">
        <text class="Text-input">Health:</text><br/>
        <div class="rateit" id="healthRate">
       </div>
       <input type="hidden" name="health" value="0" id="health"/>
      <hr class="rating-hr">
       <text class="Text-input">Mood:</text><br/>
       <div class="rateit" id="moodRate">
       </div>
       <input type="hidden" name="mood" value="0"  id="mood"/>
      <hr class="rating-hr">
        <text class="Text-input">Anxiety:</text><br/>
        <div class="rateit" id="anxietyRate">
        </div>
        <input type="hidden" name="anxiety" value="0" id="anxiety"/>
      <hr class="rating-hr">
        <input type="hidden" id="image" name="image" value="">
        <input type="hidden" name="date" id="date" value=""/>
        <input type="hidden" name="time" id="time" value=""/>
        <input type="hidden" name="userid" id="userid" value=""/>
     </div>
     <a href="/index" class="btn btn-primary " style="margin-left:36px;" role="button" id="back">Home</a>
     <input type="submit" class="btn btn-sm entry2BackNext" style="float:right; margin-right: 36px;" id="addEntry" onclick="clicked(event);" value="Add to Diary  ⇨" Text="Submit" />
      </form>
    </div>
</div>
<script>
   function edit(){
    if(sessionStorage.getItem('edit') == 'true'){
      document.getElementById('output').src = sessionStorage.image;

      document.getElementById('foodName').value = sessionStorage.foodName;
      document.getElementById('comments').value = sessionStorage.comments;
      document.getElementById('userid').value = sessionStorage.name;
      $('#tasteRate').rateit('value',sessionStorage.taste);
      $('#healthRate').rateit('value',sessionStorage.health);
      $('#moodRate').rateit('value',sessionStorage.mood);
      $('#anxietyRate').rateit('value',sessionStorage.anxiety);
      $('#clock').text(sessionStorage.date+" "+sessionStorage.time);
      $('#back').attr('href','/diary/'+sessionStorage.name);
      document.getElementById('addDiary').action= '/addDiary/e';
      sessionStorage.setItem('edit',false);
    }
    else{
      //document.getElementById('foodName').value = "";
      document.getElementById('comments').value = "";
      $('#tasteRate').rateit('value',0);
      $('#healthRate').rateit('value',0);
      $('moodRate').rateit('value',0);
      $('#anxietyRate').rateit('value',0);
      document.getElementById('addDiary').action = '/addDiary/ne';
    }
  }
window.onload=edit;
</script>

     <script src="/js/DisplayClock.js"></script>
     <script src="/js/entry.js"></script>
     <script src="https://code.jquery.com/jquery.js"></script>
     <script src="/js/bootstrap.min.js"></script>
     <script src="/scripts/jquery.rateit.min.js"></script>
     <script src="/js/user.js"></script>
<script>
const supported = 'mediaDevices' in navigator;
const photo = document.getElementById('photo');
const blobURL = document.getElementById('blob');
function doSomethingWithFiles(fileList) {
let file = null;
for (let i = 0; i < fileList.length; i++) {
  if (fileList[i].type.match(/^image\//)) {
    file = fileList[i];
    break;
  }
}
if (file !== null) {
 photo.src = URL.createObjectURL(file);
 blobURL.value = photo.src;
 console.log("Blob URL: "+ blobURL.value);
 }

}
const fileInput = document.getElementById('file-input');
fileInput.addEventListener('change', (e) => doSomethingWithFiles(e.target.files));
</script>

  </body>
</html>
