<!DOCTYPE html>
<html>
  <head>


    <title>Food Diary App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <!-- Bootstrap -->
  <link href="/css/style.css"  type="text/css" rel="stylesheet">
  <link href="/css/bootstrap-grid.css"  type="text/css" rel="stylesheet">
  <link href="/css/bootstrap-reboot.css"  type="text/css" rel="stylesheet">
  <link href="/css/bootstrap.css" type="text/css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery.js"></script>
    <link href="/scripts/rateit.css" rel="stylesheet">
  <body>
      <div>
        <a href="#" class="glyphicon glyphicon-question-sign" onclick="helpEntry()" style=" font-size:40px; margin-right: 13px;float:right" role="button" id="help" name="entry"></a>
      </div>
<br>
<div class="text-center">
    <h1 style="font-family:Palatino;">Log Your Meal</h1><br>
    <p class="help-block" id="clock" ></p>
    </div>
      <div class="inline-block">
           <div style="height:0px;overflow:hidden">
             <form id="addDiary" role="form" method="post" action="/addDiary/ne">
           </div>
         </div>
           <div class="topright" style="display:inline-block;" id="text-input">
              <span class="glyphicon glyphicon-pencil" style="margin-left:-14px; font-size:30px;"></span>
              <input type="text" class="row" style=" border-radius:10px; border-color: transparent;
              width:153px; margin-left:5px;" placeholder="    Enter food" name="foodName" id="foodName"/><br/>
              <textarea rows="4" cols="24" class="row" style="border-radius:10px; resize:none;"
           placeholder="  Comments:                                        Eg: I had a really good time with friends eating this wonderful brunch." name="comments" id="comments"></textarea><br/>

           </div>
         <br/>

        <hr>
      </div>
     <div class="container"  id="Rating" style="margin-top:255px;margin-left:53px;">
       <text class="Text-input">Taste:</text><br/>
       <div name="taste" class="rateit" id="tasteRate" >
      </div>
      <input type="hidden" name="taste" id="taste" value="0" />
     <hr class="rating-hr">
        <text class="Text-input">Health:</text><br/>
        <div class="rateit" id="healthRate">
       </div>
       <input type="hidden" name="health" value="0" id="health"/>
      <hr class="rating-hr">
       <text class="Text-input">Mood:</text><br/>
       <div class="rateit" id="moodRate">
       </div>
       <input type="hidden" name="mood" value="0"  id="mood"/>
      <hr class="rating-hr">
        <text class="Text-input">Anxiety:</text><br/>
        <div class="rateit" id="anxietyRate">
        </div>
        <input type="hidden" name="anxiety" value="0" id="anxiety"/>
      <hr class="rating-hr">
        <input type="hidden" id="image" name="image" value="">
        <input type="hidden" name="date" id="date" value=""/>
        <input type="hidden" name="time" id="time" value=""/>
        <input type="hidden" name="userid" id="userid" value=""/>
     </div>
     <a href="/index/{{id}}" class="btn btn-primary " style="margin-left:36px;" role="button" id="back">Home</a>

     <input type="submit" class="btn btn-sm entry2BackNext" style="float:right; margin-right: 36px;" id="addEntry" onclick="clicked(event);" value="Add to Diary  ⇨" Text="Submit" />
      </form>
    </div>

<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Q and A</h2>
    </div>
    <div class="modal-body">
      <h2>Some text in the Modal Body</h2>
      <p>Some other text...</p>
    </div>
    <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div>
  </div>

</div>



<script type="text/javascript">
function changeID(){
  document.getElementById('userid').value=sessionStorage.name;
}
</script>

<script>
    const supported = 'mediaDevices' in navigator;
    const player = document.getElementById('player');
    const output = document.getElementById('output');
  function doSomethingWithFiles(fileList) {
    let file = null;
    for (let i = 0; i < fileList.length; i++) {
      if (fileList[i].type.match(/^image\//)) {
        file = fileList[i];
        break;
      }
    }
    if (file !== null) {
      output.src = URL.createObjectURL(file);
      sessionStorage.setItem('image',output.src);
    }
  }
  // Attach the video stream to the video element and autoplay.
  const fileInput = document.getElementById('file-input');
  fileInput.addEventListener('change', (e) => doSomethingWithFiles(e.target.files));
</script>

<script>
   function edit(){
    if(sessionStorage.getItem('edit') == 'true'){
      document.getElementById('output').src = sessionStorage.image;

      document.getElementById('foodName').value = sessionStorage.foodName;
      document.getElementById('comments').value = sessionStorage.comments;
      document.getElementById('userid').value = sessionStorage.name;
      $('#tasteRate').rateit('value',sessionStorage.taste);
      $('#healthRate').rateit('value',sessionStorage.health);
      $('#moodRate').rateit('value',sessionStorage.mood);
      $('#anxietyRate').rateit('value',sessionStorage.anxiety);
      $('#clock').text(sessionStorage.date+" "+sessionStorage.time);
      $('#back').attr('href','/diary/'+sessionStorage.name);
      document.getElementById('addDiary').action= '/addDiary/e';
      sessionStorage.setItem('edit',false);
    }
    else{
      document.getElementById('foodName').value = "";
      document.getElementById('comments').value = "";
      $('#tasteRate').rateit('value',0);
      $('#healthRate').rateit('value',0);
      $('moodRate').rateit('value',0);
      $('#anxietyRate').rateit('value',0);
      document.getElementById('addDiary').action = '/addDiary/ne';
    }
  }
window.onload=edit;
</script>

     <script src="/js/DisplayClock.js"></script>
     <script src="/js/entry.js"></script>
     <script src="https://code.jquery.com/jquery.js"></script>
     <script src="/js/bootstrap.min.js"></script>
     <script src="/scripts/jquery.rateit.min.js"></script>
     <script src="/js/user.js"></script>
  <!--
      Global site tag (gtag.js) - Google Analytics
     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114570926-2"></script>
     <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());

       gtag('config', 'UA-114570926-2');
     </script>
-->
     <script>
function helpEntry() {
    alert("Tutorials\n\nThis page intends to help you record your meals. You record meals by either take a photo or leave some texts. And you will then do  self-rate about current mood, food taste and food healthy level."
      );
}
$('#Save').click(changeText);
function changeText(event){
  $(this).text("Saved");
}
</script>


<script>
function clicked(e)
{
    if(!confirm('Do you want to submit?'))e.preventDefault();
    confirm = 0;
}
</script>

<script type="text/javascript">
/*
  window.onbeforeunload = confirmExit;
  function confirmExit()
  {
    if (confirm != 0){
    return "Do you want to leave this page without saving?";
   }
 }*/
</script>

<script src="/js/analytics.js"></script>
  </body>
</html>
