<!DOCTYPE html>
<html>
  <head>


    <title>Food Diary App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <!-- Bootstrap -->
  <link href="/css/style.css"  type="text/css" rel="stylesheet">
  <link href="/css/bootstrap-grid.min.css"  type="text/css" rel="stylesheet">
  <link href="/css/bootstrap-reboot.min.css"  type="text/css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">

    <link href="/scripts/rateit.css" rel="stylesheet">
  <body>

<div class="text-center">
    <h1 >Log Your Meal</h1>
    <div class="container entry-box" >
      <h4 class="help-block" id="clock" ></h4>
      <form id="addDiary" role="form" method="post" action="/addDiary/ne">
        <label for="file-input" class="btn btn-secondary"><strong>Choose a picture</strong></label>
        <input type="file" accept="image/*" id="file-input" capture="environment" style="opacity:0;position:absolute;z-index:-1;"/>
        <canvas id="canvas" width="400" height="400" style="border:1px solid #000;margin:auto;display:block"></canvas>
        <textarea class='entry-textarea' style="border-radius:10px;"
        placeholder="Comments: I had a really good time with friends eating this wonderful brunch." name="comments" id="comments"></textarea>


        <rating-block>
          <text class="Text-input">Taste:</text><br/>
          <div class="rateit" id="tasteRate" data-rateit-mode="font"  style="font-size:2.5rem"></div>
          <input type="hidden" name="taste" id="taste" value="0" />
        </rating-block>
        <rating-block>
          <text class="Text-input">Health:</text><br/>
          <div class="rateit" id="healthRate" data-rateit-mode="font"  style="font-size:2.5rem"></div>
          <input type="hidden" name="health" value="0" id="health"/>
        </rating-block>
        <rating-block>
           <text class="Text-input">Mood:</text><br/>
           <div class="rateit" id="moodRate" data-rateit-mode="font"  style="font-size:2.5rem"></div>
           <input type="hidden" name="mood" value="0"  id="mood"/>
        </rating-block>
        <rating-block>
          <text class="Text-input">Anxiety:</text><br/>
          <div class="rateit" id="anxietyRate" data-rateit-mode="font"  style="font-size:2.5rem"></div>
          <input type="hidden" name="anxiety" value="0" id="anxiety"/>
        </rating-block>
      <input type="hidden" name="dataURL" id="dataURL" value="" />
      <input type="hidden" name="date" id="date" value=""/>
      <input type="hidden" name="key" id="key" value=""/>
     </div>
     <a href="/index" class="btn btn-dark" style="float:left; margin-left:10vmin; " role="button" id="entryBackBtn">Back</a>
     <input type="submit" class="btn  entry2BackNext btn-primary" style="float:right; font-weight: bold; color:white; margin-right: 10vmin;" id="addEntry" value="Add to Diary  ⇨" />
      </form>
    </div>
</div>



     <script src="https://code.jquery.com/jquery.js"></script>
     <script src="/js/DisplayClock.js"></script>
     <script src="/js/bootstrap.min.js"></script>
     <script src="/scripts/jquery.rateit.min.js"></script>
     <script src="/js/user.js"></script>
     <script src="/js/entryEdit.js"></script>

  </body>
</html>
