<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- Bootstrap -->

<link href="/css/bootstrap-grid.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap-reboot.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap.css" type="text/css" rel="stylesheet">
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<link href="/css/style.css"  type="text/css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- <script src="amcharts/plugins/responsive/responsive.min.js" type="text/javascript"></script> -->


<body>
	<fieldset>
		<a href="/user/logout" class="btn btn-info btn-sm " role="button" style="float:right" id="logoff">Log Off</a>
	</fieldset>
	<br>
	<h1 style="text-align:center; font-family:Palatino" class="page-header " >HOME</h1>
	<div class="container " >
		<div style="display:flex;">
			<a href="/entry" class="btn btn-dark index-button" style=" flex:1" role="button" id="entry">New Entry</a><br>
			<a href="/diary" class="btn btn-dark index-button" style=" flex:1" role="button"  id="diary">View Diary</a><br>
			<a href="/community" class="btn btn-dark index-button" style=" flex:1;" role="button" id="community">Community</a>
		</div>
		<div style="display:flex">
			<div class="index-chart" style="flex:1">
				<!-- <img src="/images/Graph.PNG" style="width:100%"> -->
				<div id="chartdiv"></div>
			</div>
		</div>
		<input type="hidden" value={{user}}>
	</div>



			<br />
	</div>

	<script src="https://www.gstatic.com/firebasejs/5.5.0/firebase.js"></script>
<script src="/js/stat.js"></script>

	</body>
</html>
