<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- Bootstrap -->

<link href="/css/bootstrap-grid.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap-reboot.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap.css" type="text/css" rel="stylesheet">
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<link href="/css/style.css"  type="text/css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- <script src="amcharts/plugins/responsive/responsive.min.js" type="text/javascript"></script> -->


<body onload="load()">
	<div class="loading">
		<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
	</div>
	<div class="main animate-bottom" style="display:none">
		<h1 style="text-align:center;" class="page-header " >HOME</h1>
		<div class="container " >
			<div style="display:flex;">
				<a href="/entry" class="btn btn-dark index-button" style=" flex:1" role="button" id="entry">New Entry</a><br>
				<a href="/diary" class="btn btn-dark index-button" style=" flex:1" role="button"  id="diary">View Diary</a><br>
				<a href="/setting" class="btn btn-dark index-button" style=" flex:1;" role="button" id="setting">Setting</a>
			</div>
			<div style="display:flex">
				<div class="index-chart" style="flex:1">
<<<<<<< HEAD
					{{!-- <img src="/images/Graph.PNG" style="width:100%">  --}}
					<div id="chartdiv" style="hidden"></div>
=======
					<img src="/images/Graph.PNG" style="width:100%"> 
					<div id="chartdiv"></div>
>>>>>>> 08b79cad7c2cce97c628ac3b9780424dedb1e0b0
				</div>
			</div>
			<input type="hidden" value={{user}}>
		</div>
	</div>

	<script src="https://www.gstatic.com/firebasejs/5.5.0/firebase.js"></script>
<script src="/js/stat.js"></script>
<script src="/js/loading.js"></script>
	</body>
</html>
