<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- Bootstrap -->
<link href="/css/style.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap-grid.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap-reboot.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap.css" type="text/css" rel="stylesheet">
<script src="https://code.jquery.com/jquery.js"></script>

<body>
	<fieldset>
		<a href="/" class="btn btn-info btn-sm " role="button" id="logoff">Log Off</a>
	</fieldset>
	<br>
	<h1 style="text-align:center; font-family:Palatino" class="page-header " >HOME</h1>
	<div class="container " style="border:1px solid black">
		<div style="display:flex;">
			<a href="/entry" class="btn btn-lg index-button" style=" flex:1" role="button" id="entry">New Entry</a><br>
			<a href="/diary" class="btn btn-lg index-button" style=" flex:1" role="button"  id="diary">View Diary</a><br>
			<a href="/community" class="btn btn-lg index-button" style=" flex:1;" role="button" id="community">Community</a>
		</div>
		<div style="display:flex">
			<div class="index-chart" style="flex:1">
				<div id="chartdiv"></div>
			</div>
		</div>
	</div>



			<br />
	</div>
<script>
function helpHome() {
    alert("Tutorials\nCreate new Entry: \n\nThis page intends to help you record your meals. You record meals by either take a photo or leave some texts. And you will then do  self-rate about current mood, food taste and food healthy level.\n\nMy Dairy:\n\nIn this page, you could view your dairy history. You could either scrolls up down or click the calendar to find one specific day.\n\nStatistics:\n\nThis page gives out statistical analysis with graphs to help you track your self-logged meals. It will provides you weekly, monthly and yearly barchart graphs about your food health, food taste and mood.\n\nAnxiety:\n\nThis app also tends to track users’ anxiety level while they make entry about their meals, then provide statistical analysis about users. You could rate your anxiety at any time of a day whenever you feel a need.\n\nNews:\n\nThis is the place where you could have fun while you are eating meals. You could browse the latest funny videos about eating that makes you laugh and the scientific healthy tips to help you eat healthier. This also contributes users to have a better mood.\n\nCommunity:\n\nThis page is to allow users browse other user’s dairy. You might feel curious about the meal taste and how other user rate themselves, and here’s your chance to have a look. You can only see the dairy without any personal information about that user and you can only browse user’s dairy in most recent three days. You could leave a praise anonymously."
    	);
}
</script>
<script src="/js/stat.js"></script>
	</body>
</html>
