<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- Bootstrap -->
<link href="/css/style.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap-grid.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap-reboot.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap.css" type="text/css" rel="stylesheet">
<script src="https://code.jquery.com/jquery.js"></script>

<body>
	<fieldset>
		<a href="/" class="btn btn-info btn-sm " role="button" id="logoff">Log Off</a>
	</fieldset>
	<br>
	<h1 style="text-align:center; font-family:Palatino" class="page-header " >HOME</h1>
	<div class="container " >
		<div style="display:flex;">
			<a href="/entry" class="btn btn-lg index-button" style=" flex:1" role="button" id="entry">New Entry</a><br>
			<a href="/diary" class="btn btn-lg index-button" style=" flex:1" role="button"  id="diary">View Diary</a><br>
			<a href="/community" class="btn btn-lg index-button" style=" flex:1;" role="button" id="community">Community</a>
		</div>
		<div style="display:flex">
			<div class="index-chart" style="flex:1">
				<img src="/images/Graph.PNG" style="width:100%">
			<!--	<div id="chartdiv"></div>-->
			</div>
		</div>
		<input type="hidden" value={{user}}>
	</div>



			<br />
	</div>
	<script src="https://www.gstatic.com/firebasejs/5.5.0/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyCSHqADgMlrT2iHoWBp7NLwePbmFG2S4PM",
	    authDomain: "my-project-1519903201611.firebaseapp.com",
	    databaseURL: "https://my-project-1519903201611.firebaseio.com",
	    projectId: "my-project-1519903201611",
	    storageBucket: "my-project-1519903201611.appspot.com",
	    messagingSenderId: "58050717665"
	  };
	  firebase.initializeApp(config);
		firebase.auth().onAuthStateChanged(function(user) {
		  if (user) {
		    console.log("signed in");
				console.log(user);
				console.log(user.uid);
		  } else {
		    console.log('not here');
		  }
		});

	</script>
<script src="/js/stat.js"></script>
	</body>
</html>
