<!DOCTYPE HTML>

<html>
<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- Bootstrap -->
<link href="/css/style.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap-grid.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap-reboot.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap.css" type="text/css" rel="stylesheet">

<body>

<div id="root" class="text-center">
<h1 class="page-header " >Food Diary</h1>
	<div class="container">
		{{#if message}}
			<div class="alert alert-danger" role="alert">{{message}}</div>
		{{/if}}
		<form class="form" method="POST" action="/user/login" >
			<h4>Email:<br><input type="text" style="height:40px; border-color: black; background-color: transparent; border-radius:10px; text-align: center;"  class="larger" name="email" required id="email">*</h4><br>
			<h4>Password:<br><input type="password" style="height:40px; border-color: black; background-color: transparent; border-radius:10px; text-align: center;" class="larger" name="password" required id="password" minlength="6">*</h4><br>
			<input type="hidden" name="_csrf" value="{{csrfToken}}">

				<input type="submit" class="btn btn-dark" style="font-weight: bold; color:white;" value="Log in" ><br>
				<a href="/register" class="btn btn-outline" style="font-weight: bold; color:black; margin-top: 1vh" role="button" >Register</a>
		</form>
	</div>
</div>
</body>

<script src="https://www.gstatic.com/firebasejs/5.10.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.10.0/firebase-app.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script>
	$.ajax({url:'/user/env',success:function(result){
		firebase.initializeApp({
		  apiKey: result.apiKey,
		  authDomain: result.authDomain,
		  databaseURL: result.databaseURL,
		  storageBucket: result.storageBucket,
		  messagingSenderId: result.messagingSenderId
		});

	}});
</script>

<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/bootstrap.js"></script>


</html>
