<!DOCTYPE HTML>

<html>
<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- Bootstrap -->
<base href="/">
<link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
<link href="/css/bootstrap.css" type="text/css" rel="stylesheet"/>
<link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
<body>
<div id="root" class="text-center">
<h1 class="page-header " style="font-family: Palatino;">Login</h1>
	<div class="container">
		<form class="form" method="post" action="/user/login" >
			<div class="form-group">
				<label for="email">Email:</label>
				<input class="form-control" type="email" name="email" id="email" required/>
			</div>
			<div class="form-group">
				<label for="password">Password:</label>
				<input class="form-control" type="password" name="password" id="password" required/>
				</div>
				<input type="submit" value="Sign in" >
				<a href="/register" style="font-weight: bold; color:black;" role="button" >Register</a>
		</form>
	</div>
</div>
</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/user.js"></script>

</html>
