<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">


<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<link href="/css/style.css"  type="text/css" rel="stylesheet">
<link href="/scripts/rateit.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>


<body>
	<div class="grid">
		<div class="grid-header">
			<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
			<nav class="sidenav" id="mySidenav">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				<a href="#">About</a>
				<a href="/entry">New Entry</a>
				<a href="/diary">Diary </a>
			</nav>
		</div>
		<div class="text-center">
			<h1>Setting</h1>
		</div>
		<div class="grid-main" >
			<form class="grid-main-center grid-main-form text-center" style="background-color:#f0ad4e;">
				<div><image class="icon" src="/images/man.svg" onerror="/images/man.png"></image></div>
				<h2>Email: {{email}}<br>
				Created: {{created}}</h2>
				<hr>
				<h4>Old Password: <br>
				<input type="text"/>
				</h4>
				<h4>New Password: <br>
				<input type="text"/>
				</h4>
				<input class="btn btn-success btn-outline-dark" type="submit" value="Change Password"/>
				<hr>
				<div style="margin-bottom:1vmin">
					<a href="/user/logout" class="btn btn-primary">Log Out</a>
				</div>
				<div style="margin-bottom:1vmin">
					<button class="btn" >Delete User</button>
				</div>
				
			</form>
		</div>
	</div>

</body>
	<script>
		function openNav() {
		document.getElementById("mySidenav").style.width = "250px";
		}
		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
		}
	</script>
	
</html>
