<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">

</head>
<body>
	<div class="navbar col-lg-offset-5">
		<div class="dropdown">
			<button  class="glyphicon glyphicon-list transparent-button "  style="font-size:40px;"></button>
			<div class="dropdown-content">
				<a href="/index">Home</a>
				<a href="/tab/entry">Entry</a>
				<a href="/tab/diary">Diary</a>

				<a href="/tab/stat">Statistics</a>
				<a href="/tab/news">News</a>
				<a href="/tab/setting">Setting</a>
				<a href="/" style="color:red; bottom:0;">Log Out</a>
		</div>
	</div>
	  <a href="#" class="col-lg-offset-4 glyphicon glyphicon-question-sign" onclick = "helpComm()" style="margin-top:10px; font-size:40px" role="button" id="help" name="entry"></a>
</div>
<h1 class="page-header text-center" >Community</h1>
<a href="/index" class="btn btn-primary col-xs-offset-5" role="button">Back</a>
</body>
<script>
function helpComm() {
    alert("Community:\n\nThis page is to allow users browse other user’s dairy. You might feel curious about the meal taste and how other user rate themselves, and here’s your chance to have a look. You can only see the dairy without any personal information about that user and you can only browse user’s dairy in most recent three days. You could leave a praise anonymously."
    	);
}
</script>
</html>
