<!DOCTYPE html>
<html>
  <head>

    <title>Food Diary App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link href="/scripts/rateit.css" rel="stylesheet">
    <style>
  /* comment out background first
    @media (max-width: 600px) {
          body {
        background-image: url("/images/m6.jpg");
        background-size: 100vw 100vh;
     }
}
@media (min-width: 768px) and (max-width: 991px) {
      body {
        background-image: url("/images/m6.jpg");
        background-size: 75vw 85vh;
     }
}
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        background-image: url("/images/m6.jpg");
        background-size: 50vw 65vh;
     }
}
@media (min-width: 1200px) {
      body{
        background-image: url('/images/m6.jpg');
        background-size:25vw 50vh;
      }
}
*/
</style>
<style>
 body {
        background-image: url("/images/use2.png");
        background-size: 100vw 99vh;
     }
*/
 h1{
  margin-top: 50px;
}
h3{
  font-size: 20px;
}
.button {
  background-color: #5cb85c;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 14px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}
@-webkit-keyframes glowing {
  0% { background-color: transparent; -webkit-box-shadow: 0 0 3px yellow; }
  50% { background-color: transparent; -webkit-box-shadow: 0 0 40px yellow; }
  100% { background-color: transparent; -webkit-box-shadow: 0 0 3px yellow; }
}
@-moz-keyframes glowing {
  0% { background-color:transparent; -moz-box-shadow: 0 0 3px yellow; }
  50% { background-color: transparent; -moz-box-shadow: 0 0 40px yellow; }
  100% { background-color: transparent; -moz-box-shadow: 0 0 3px yellow; }
}
@-o-keyframes glowing {
  0% { background-color: transparent; box-shadow: 0 0 3px yellow; }
  50% { background-color: transparent; box-shadow: 0 0 40px yellow; }
  100% { background-color: transparent; box-shadow: 0 0 3px yellow; }
}
@keyframes glowing {
  0% { background-color:transparent; box-shadow: 0 0 3px yellow; }
  50% { background-color: transparent; box-shadow: 0 0 40px yellow; }
  100% { background-color: transparent; box-shadow: 0 0 3px yellow; }
}
.button {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
  color:#f38207;
}
.KW_progressContainer {
  left:0;
  width: 100%;
  height: 0.7em;
  margin-top: 0px;
  position: fixed;
  top: 0px;
  overflow: hidden;
  background-color: white;
  content: "";
  display: table;
  table-layout: fixed;
}
.KW_progressBar {
  width: 0%;
  float: left;
  height: 100%;
  z-index:99;
  max-width: 100%;
  background-color:orange;
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}
.page-header1 {
  padding-bottom: 13px;
  margin: 10px 0 20px;
  border-bottom: 0px solid #eeeeee;
  font-family: Comic Sans MS, cursive, sans-serif;
  background-color: #25a725ab;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-color: orange;
    color: white;
}
.modal-body {padding: 2px 16px;}
.modal-footer {
    padding: 0px 16px;
    background-color: #5cb85c;
    color: white;
}
/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}
@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}
@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
</style>
  <body>
<div class="page-header ">
<h2 style="text-align:center; color:#F38414; font-family: American Typewriter;" ><i>Hello! {{id}}</i></h2>

<button style="font-family: serif;color:orange;background-color: transparent;border-color: transparent; margin-right:10px;margin-top:-17px;float:right;text-decoration: underline;"  id="myBtn222">Q & A</button>
<button id="setting" style="margin-right:-60px; margin-top:-61px;float:right; background-color: transparent; color:#f0ad4e; font-size: 31px;" class="btn glyphicon glyphicon-cog"><br></button>
</div>
        <div class="KW_progressContainer">
        <div class="KW_progressBar">

        </div>
      </div>

        <div id="wrapper">
          <div class="text-center" id="top">

    <article>

<!-- Trigger/Open The Modal -->


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Q & A</h2>
    </div>
    <div class="modal-body">
      <h3 style="text-align: left;">How to make new entry?</h3>
      <p style="text-align: left;">-- Take a photo, type some words and finish a short self rate.Don’t forget to scroll down to finish all three steps!
</p>
      <h3 style="text-align: left;">How to use camera?</h3>
      <p style="text-align: left;">-- Click on the camera icon to take photo.</p>
      <h3 style="text-align: left;">How many photos can I take and how to retake photos?</h3>
      <p style="text-align: left;">-- You can only take one photo to use that in one entry.
To retake photo, click on the camera icon again.</p>
<h3 style="text-align: left;">How to change stars for rating?</h3>
<p style="text-align: left;">-- Click on the star again to change stars
You could also click the “minus” sign to clear all.</p>
<h3 style="text-align: left;">How to save my changes?</h3>
<p style="text-align: left;">-- After finish, don’t forget to click on “add to entry” button to save and submit you changes.
-- Once you leave this page without submit, your changes will not be saved.</p>

    </div>

  </div>

</div>


            <h3 style="text-align:center; font-family: American Typewriter; color:coral;"> Take a photo of your meal</h3>


              <form id="addDiary" role="form" method="post" action="/addDiary/ne">

                <div>
                 <label for="file-input" type="button" style="font-size: 139px; margin-top: 44px;margin-bottom: 28px;" class="transparent-button glyphicon glyphicon-camera glyphicon-size" onclick="showDiv()"></label>


                <div id="welcomeDiv"  style="display:none;margin-top:-33px; margin-bottom: 30px;" class="answer_list" >Click Camera again to retake a photo</div>


                  <input type="file" accept="image/*" style="display:none" id="file-input" capture="environment"/>
                </div>
                <img id="output" style="height:29vh;width:44vw;"><hr>
              <text style="color:coral;float: right; margin-right: 30px; margin-top: -22px;font-size: 21px;">Scroll down ⇩</text>

            <h3 style="margin-top:107px;font-family: American Typewriter; color:coral;">Enter food and leave comments</h3>
            <hr>
            <p class="help-block text-center" id="clock" style="font-size:20px; margin-top:-15px;margin-bottom: -19px; color:black;"></p>
       <img id="photos" style="width:220px; height:270px; margin-top: 20px;"/><hr>
            <hr class ="rating-hr">
             <div class="container" style="display:inline-block " id="text-input">
              <span class="glyphicon glyphicon-pencil" style="margin-left:49px; margin-right: -5px; font-size:37px; color:#0c1004;"></span>
              <input type="text" class="row" style="width:2em; border-color:#27AE60 ; border-width: 0px; width:178px; margin-left:-9px; height: 35px; margin-right: 4px; border-radius: 25px;" placeholder="     Enter food" name="foodName" id="foodName"/>
              <button class="transparent-button glyphicon glyphicon-remove-circle" style="width:2em; color:#f0ad4e; font-size: 20px" onclick="dosomethingElse();document.getElementById('foodName').value = ''"></button><br/>
              <textarea rows="4" cols="30" class="row" style="border-color:#27AE60; border-width: 0px; margin-left:44px;border-radius: 18px; height: 90px; width:225; margin-right: 4px; margin-top:5px; resize:none;" placeholder="      Comments:                                 Eg: I had a really good time with friends eating this wonderful brunch." name="comments" id="comments"></textarea>
              <button class="transparent-button glyphicon glyphicon-remove-circle" style="color:#f0ad4e;width:2em; margin-top: 50px; font-size: 20px" onclick="dosomethingElse();document.getElementById('comments').value = ''"></button>
              <text style="color:coral;float: right; margin-right: 30px; margin-top: 63px;font-size: 21px;">Scroll down ⇩</text>
             </div>
             <hr>
    <h3 style="margin-top:95px;margin-bottom:24px;font-family: American Typewriter;color:coral;">Finish Self-Rating </h3>


             <form id="addDiary" role="form" method="post" action="/addDiary/ne">
              <div class="container"  id="Rating" >
             <text style="font-size:24px; color:#f1a132; padding-right: 160px;font-family: American Typewriter;" class="Text-input">Taste:</text><br/>
             <div name="taste" class="rateit" id="tasteRate" data-rateit-mode="font" style="font-family: American Typewriter;margin-top:12px; font-size:36px">
            </div>
            <input type="hidden" name="taste" id="taste" value="0" />
<hr>
              <text style="font-size:24px; color: #f1a132;font-family: American Typewriter; padding-right: 160px" class="Text-input">Health:</text><br/>
              <div class="rateit" id="healthRate" data-rateit-mode="font" style="margin-top:12px; font-size:36px">
             </div>
             <input type="hidden" name="health" value="0" id="health"/>
<hr>
             <text style="font-size:24px;font-family: American Typewriter; color: #f1a132; padding-right: 160px" class="Text-input">Mood:</text><br/>
             <div class="rateit" id="moodRate" data-rateit-mode="font" style="margin-top:12px; font-size:36px">
             </div>
             <input type="hidden" name="mood" value="0"  id="mood"/>
            <hr>


              <text style="font-size:24px; color: #f1a132; padding-right: 160px;font-family: American Typewriter;" class="Text-input">Anxiety:</text><br/>

              <div class="rateit" id="anxietyRate" data-rateit-mode="font" style="font-size:36px">

              </div>

              <input type="hidden" name="anxiety" value="0" id="anxiety"/>
            <hr>

            <input type="hidden" name="image" id="image" value=""/>
              <input type="hidden" name="date" id="date" value=""/>
              <input type="hidden" name="time" id="time" value=""/>
              <input type="hidden" name="userid" id="userid" value=""/>
              <input type="hidden" name="foodName" id="foodName" value=""/>
              <input type="hidden" name="comments" id="comments" value=""/>
           </div>

           <input type="submit" class="btn btn-sm entry2BackNext" style="float:right; margin-right: 36px; margin-top:-11px;" id="addEntry2" onclick="clicked(event);" value="Add to Diary   ⇨" Text="Submit" />

         </form>

<div id="bottom" style="margin-top:30px;">
        <button id="entry" style="background-color:#f7f0a1; color:#f0ad4e; font-size: 19px;" class="btn quarter glyphicon glyphicon-pencil"><br>Entry</button>
        <button id="diary" style="background-color: #fcf8e3; color:#f0ad4e; font-size: 19px;" class="quarter glyphicon glyphicon-book btn"><br>Diary</button>
        <button id="stat" style="background-color: #fcf8e3; color:#f0ad4e; font-size: 19px;" class="btn quarter glyphicon glyphicon-stats"><br>Stats</button>

        <button id="news" style="background-color: #fcf8e3; color:#f0ad4e; font-size: 19px;" class="btn quarter glyphicon glyphicon-film"><br>News</button>
      </div>
<!--
<button id="setting" style="background-color: transparent; color:#f0ad4e; font-size: 19px;" class="btn quarter glyphicon glyphicon-cog"><br>Setting</button>
-->

          </div>
       </div>
         <script src="/js/entry.js"></script>
     </article>
        <script src="/js/DisplayClock.js"></script>
         <script src="https://code.jquery.com/jquery.js"></script>
         <script src="/js/bootstrap.min.js"></script>
         <script src="/scripts/jquery.rateit.min.js"></script>
         <script src="/js/user.js"></script>
         <script>
          $("#remove1").onclick = function () {
     this.style.backgroundColor = "#ED3215";
    };
         </script>
    <script>

        const supported = 'mediaDevices' in navigator;
        const player = document.getElementById('player');
        const output = document.getElementById('output');
        const photos = document.getElementById('photos');
      function doSomethingWithFiles(fileList) {
        let file = null;
        for (let i = 0; i < fileList.length; i++) {
          if (fileList[i].type.match(/^image\//)) {
            file = fileList[i];
            break;
          }
        }
        if (file !== null) {
          output.src = URL.createObjectURL(file);
         photos.src = output.src;
         }
          sessionStorage.setItem('image',output.src);
        }

      
      // Attach the video stream to the video element and autoplay.
      const fileInput = document.getElementById('file-input');
      fileInput.addEventListener('change', (e) => doSomethingWithFiles(e.target.files));
    </script>
    <script>
    $(window).load(function(){
      $(window).scroll(function() {
        var wintop = $(window).scrollTop(), docheight = $('article').height(), winheight = $(window).height();
        var totalScroll = (wintop/(docheight-winheight))*100;
        $(".KW_progressBar").css("width",totalScroll+"%");
      });
    });
      
      </script>
    <script>
       function edit(){
        if(sessionStorage.getItem('edit') == 'true'){
          document.getElementById('output').src = sessionStorage.image;
          document.getElementById('photos').src = sessionStorage.image;
          document.getElementById('foodName').value = sessionStorage.foodName;
          document.getElementById('comments').value = sessionStorage.comments;
          document.getElementById('userid').value = sessionStorage.name;
          $('#tasteRate').rateit('value',sessionStorage.taste);
          $('#healthRate').rateit('value',sessionStorage.health);
          $('#moodRate').rateit('value',sessionStorage.mood);
          $('#anxietyRate').rateit('value',sessionStorage.anxiety);
          $('#clock').text(sessionStorage.date+" "+sessionStorage.time);
          $('#back').attr('href','/diary/'+sessionStorage.name);
          document.getElementById('addDiary').action= '/addDiary/e';
          sessionStorage.setItem('edit',false);
        }
        else{
          document.getElementById('foodName').value = "";
          document.getElementById('comments').value = "";
          $('#tasteRate').rateit('value',0);
          $('#healthRate').rateit('value',0);
          $('moodRate').rateit('value',0);
          $('#anxietyRate').rateit('value',0);
          document.getElementById('addDiary').action = '/addDiary/ne';
        }
      }
    window.onload=edit;
    </script>

<script>
  function dosomethingElse(){
    confirm = 0;
  }
function clicked(e)
{
    if(!confirm('Do you want to submit?'))e.preventDefault();
    confirm = 0;
}
</script>

<script type="text/javascript">
  window.onbeforeunload = confirmExit;
  function confirmExit()
  {
    if (confirm != 0){
    return "Do you want to leave this page without saving?";
   }
  }
</script>
    <!-- modal -->
<script>
// Get the modal
var modal = document.getElementById('myModal');
// Get the button that opens the modal
var btn = document.getElementById("myBtn222");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

    <script>
      function showDiv() {
       document.getElementById('welcomeDiv').style.display = "block";
    }
      </script>

  </body>
</html>