
<!DOCTYPE html>
<html>
  <head>
    <title>Food Diary App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link href="/scripts/rateit.css" rel="stylesheet">
    <style>
body {
      background-image: url("/images/s14.jpg");
}
</style>

<style>
h4{
  margin-top:35px;
  font-size: 30px;
}
</style>
  <body>
    <div id="wrapper">
      <div class="text-center" id="top">

        <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" 
    style="width:100%; background-image: linear-gradient(to bottom,#87B536 0,#87B536 100%);">Step 3</div>
   </div>


        <h4 style="color:#1ABC9C;">Finish Self-Rating </h4>
        <form id="addDiary" role="form" method="post" action="/addDiary/ne">
          <div class="container"  id="Rating" >
         <text style="font-size:27px; color: #87B536; padding-right: 168px" class="Text-input">Taste:</text><br/>
         <div name="taste" class="rateit" id="tasteRate" data-rateit-mode="font" style="margin-top:12px; font-size:40px">
        </div>
        <input type="hidden" name="taste" id="taste" value="0" />
       <hr>
          <text style="font-size:27px; color: #87B536; padding-right: 168px" class="Text-input">Health:</text><br/>
          <div class="rateit" id="healthRate" data-rateit-mode="font" style="margin-top:12px; font-size:40px">
         </div>
         <input type="hidden" name="health" value="0" id="health"/>
        <hr>
         <text style="font-size:27px; color: #87B536; padding-right: 168px" class="Text-input">Mood:</text><br/>
         <div class="rateit" id="moodRate" data-rateit-mode="font" style="margin-top:12px; font-size:40px">
         </div>
         <input type="hidden" name="mood" value="0"  id="mood"/>
        <hr>
        <!--
          <text style="font-size:22px; color: #1ABC9C; padding-right: 168px" class="Text-input">Anxiety:</text><br/>
          <div class="rateit" id="anxietyRate" data-rateit-mode="font" style="font-size:44px">
          </div>
          <input type="hidden" name="anxiety" value="0" id="anxiety"/>
        <hr>
      -->
          <input type="hidden" name="date" id="date" value=""/>
          <input type="hidden" name="time" id="time" value=""/>
          <input type="hidden" name="userid" id="userid" value=""/>
          <input type="hidden" name="foodName" id="foodName" value=""/>
          <input type="hidden" name="comments" id="comments" value=""/>
       </div>
       <a href="/entry2text/{{id}}" role="button" class="btn entry2BackNext" style="margin-left: -100px;">Back</a>

       <input type="submit" class="btn btn-sm entry2BackNext" style="float:right; margin-right:30px;" id="addEntry2" onclick="clicked(event);" value="Add to Diary" Text="Submit" />
     </form>
      </div>
      <div id="bottom">
        <button id="diary" style="background-color: white; color:#87B536; font-size: 19px;" class="quarter glyphicon glyphicon-book btn"><br>Diary</button>
        <button id="entry" style="background-color: white; color:#87B536; font-size: 19px;" class="btn quarter glyphicon glyphicon-pencil"><br>Entry</button>
        <button id="stat" style="background-color: white; color:#87B536; font-size: 19px;" class="btn quarter glyphicon glyphicon-stats"><br>Stats</button>
        <button id="setting" style="background-color: white; color:#87B536; font-size: 19px;" class="btn quarter glyphicon glyphicon-cog"><br>Setting</button>
      </div>
   </div>
       
     <script src="/js/entry.js"></script>
     <script src="https://code.jquery.com/jquery.js"></script>
     <script src="/js/bootstrap.min.js"></script>
     <script src="/scripts/jquery.rateit.min.js"></script>
     <script src="/js/user.js"></script>

     <!-- Global site tag (gtag.js) - Google Analytics -->
     <script src="/js/entry.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114570926-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114570926-2');
</script>



  </body>
</html>

