
<!DOCTYPE html>
<html>
  <head>
    <title>Food Diary App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link href="/scripts/rateit.css" rel="stylesheet">
    <style>
body {
     background-color:#A6DB3D;
}
</style>

<style>
 h3{
  margin-top: 50px;

}
</style>

  <body>
    <div id="wrapper">
      <div class="text-center" id="top">
        
        <h3 style="color:white;">Type in your food and leave comments</h3>
        <hr>
        <img src="/images/B1.jpg" class="image-small"/>
        <hr class ="rating-hr">  
        <p class="help-block" id="clock"></p><hr class="rating-hr">
         <div class="container" style="display:inline-block " id="text-input">
          <span class="glyphicon glyphicon-pencil" style="margin-left:-15px; font-size:30px;"></span>
          <input type="text" class="row" style="width:178px; margin-left:5px;" placeholder="Enter food" name="foodName" id="foodName"/><br/>
          <textarea rows="4" cols="30" class="row" style="margin-left:10px; height: 130px; width:225; margin-right: 20px; margin-top:5px; resize:none;" placeholder="Comments:                                 Eg: I had a really good time with friends eating this wonderful brunch." name="comments" id="comments"></textarea><br/>
         </div>
         <hr>
         <div>
           <a href="/entry2/{{id}}" role="button" class="btn btn-primary" style="float:left; font-size:18px; margin-left: 35px;margin-top:-5%;">Back</a>
           <a href="/entry2rating/{{id}}" id="entry2rating" role="button" class="btn btn-primary col-xs-offset-6" style="float:right; font-size:18px; margin-top:-11%; margin-right: 28px;">Next</a><hr>
         </div>
      </div>
      <div id="bottom">
        <button id="diary" style="background-color: #87B536; color:white; font-size: 19px;" class="quarter glyphicon glyphicon-book btn"><br>Diary</button>
        <button id="entry" style="background-color: #87B536; color:white; font-size: 19px;" class="btn quarter glyphicon glyphicon-pencil"><br>Entry</button>
        <button id="stat" style="background-color: #87B536; color:white; font-size: 19px;" class="btn quarter glyphicon glyphicon-stats"><br>Stats</button>
        <button id="setting" style="background-color: #87B536; color:white; font-size: 19px;" class="btn quarter glyphicon glyphicon-cog"><br>Setting</button>
      </div>
   </div>
        <script src="/js/DisplayClock.js"></script>
     <script src="/js/entry.js"></script>
     <script src="https://code.jquery.com/jquery.js"></script>
     <script src="/js/bootstrap.min.js"></script>
     <script src="/scripts/jquery.rateit.min.js"></script>
     <script src="/js/user.js"></script>
     <script>
     </script>
     <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114570926-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114570926-2');
</script>

  </body>
</html>

