<!DOCTYPE html>
<html>
  <head>
    <title>Food Diary App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  </head>
  <body>
      <div class="navbar col-lg-offset-5">
        <div class="dropdown">

          <button class="glyphicon glyphicon-list transparent-button " style="font-size:40px;"></button>

          <div class="dropdown-content">
            <a href="/index">Home</a>
            <a href="/tab/diary">Diary</a>

            <a href="/tab/stat">Statistics</a>
            <a href="/tab/news">News</a>
            <!--<a href="/tab/community">Community</a>-->
            <a href="/tab/setting">Settings</a>
            <a href="/" style="color:red; bottom:0;">Log Out</a>
        </div>
      </div>

      <a href="#" class="col-lg-offset-4 glyphicon glyphicon-question-sign" onclick="helpEntry()" style="margin-top:10px; font-size:40px" role="button" id="help" name="entry"></a>
      </div>

    <h1 class="page-header text-center" >Log Your Meal</h1>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
     <div class="pull-left  col-xs-offset-5" id="photo">
       <a href='#'><span class="glyphicon glyphicon-camera" style="font-size:100px;"></span></a><br/>
        <a href='/tab/photo' class="btn-info btn-lg" role="button">View Pictures</a><br/>
        <p class="help-block" id="clock" ></p>
     </div>

     <div class="col-xs-offset-6"  id="text input">
        <span class="glyphicon glyphicon-pencil" style="margin-left:8px; font-size:30px;"></span>
        <input type="text" class="row" style="width:144px;margin-left:5px;" placeholder="Enter food"></input><br />
       <textarea rows="8" cols="25" class="row" style="margin-left:10px; margin-top:5px; resize:none;" placeholder="Comments:"></textarea><br/>
     </div><br/>

     <div class=" col-xs-offset-5 container"  id="Rating">
       <text class="Text-input">Taste:</text><br/>
       <fieldset class="rating" id="Taste">
         <div class="rating" >
              <input type="radio" name="taste" id="t3" value="3"><label for="t3"  class=" rating-font">&#9734;</label>
              <input type="radio" name="taste" id="t2" value="2"><label for="t2"  class=" rating-font">&#9734;</label>
              <input type="radio" name="taste" id="t1" value="1"><label for="t1"  class=" rating-font">&#9734;</label>
         </div>
       </fieldset><hr>
        <text class="Text-input">Health:</text><br/>
       <fieldset class="rating" id="Health">

              <input type="radio" name="health" id="h5" value="5"><label for="h5"  class="  rating-font">&#9734;</label>
              <input type="radio" name="health" id="h4" value="4"><label for="h4"  class="  rating-font">&#9734;</label>
              <input type="radio" name="health" id="h3" value="3"><label for="h3"  class="  rating-font">&#9734;</label>
              <input type="radio" name="health" id="h2" value="2"><label for="h2"  class="  rating-font">&#9734;</label>
              <input type="radio" name="health" id="h1" value="1"><label for="h1"  class="  rating-font">&#9734;</label>

       </fieldset><hr>
       <text class="Text-input">Mood:</text><br/>
       <fieldset class="rating" id="mood">
              <input type="radio" name="rating1" id="m5" value="5"><label for="m5" class="  rating-font">&#9734;</label>
              <input type="radio" name="rating1" id="m4" value="4"><label for="m4"  class="  rating-font">&#9734;</label>
              <input type="radio" name="rating1" id="m3" value="3"><label for="m3"  class="  rating-font">&#9734;</label>
              <input type="radio" name="rating1" id="m2" value="2"><label for="m2"  class="  rating-font">&#9734;</label>
              <input type="radio" name="rating1" id="m1" value="1"><label for="m1"  class="  rating-font">&#9734;</label>
       </fieldset><hr>
        <text class="Text-input">Anxiety:</text><br/>
       <fieldset class="rating" id="Anxiety">
             <input type="radio" name="rating2" id="a5" value="10"><label  for="a10"  class="  rating-font">&#9734;</label>
             <input type="radio" name="rating2" id="a4" value="9"><label  for="a9"  class="  rating-font">&#9734;</label>
             <input type="radio" name="rating2" id="a3" value="8"><label  for="a8"  class="  rating-font">&#9734;</label>
             <input type="radio" name="rating2" id="a2" value="7"><label  for="a7"  class="  rating-font">&#9734;</label>
             <input type="radio" name="rating2" id="a1" value="6"><label for="a6"  class="  rating-font">&#9734;</label>
             <input type="radio" name="rating2" id="a5" value="5"><label  for="a5"  class="  rating-font">&#9734;</label>
             <input type="radio" name="rating2" id="a4" value="4"><label  for="a4"  class="  rating-font">&#9734;</label>
             <input type="radio" name="rating2" id="a3" value="3"><label for="a3"  class="  rating-font">&#9734;</label>
             <input type="radio" name="rating2" id="a2" value="2"><label for="a2"  class="  rating-font">&#9734;</label>
             <input type="radio" name="rating2" id="a1" value="1"><label  for="a1"  class="  rating-font">&#9734;</label>
       </div>
     </fieldset><hr>
     <a href="/index" class="btn btn-primary col-xs-offset-5" role="button">Back</a>
     <a href="/tab/diary" class="btn btn-sm btn-success" role="button" style="margin-left:12%;">Add To Diary</a>
  </body>
  <script src="/js/DisplayClock.js"></script>

  <script src="/js/entry.js"></script>

      <script src="https://code.jquery.com/jquery.js"></script>
     <script src="/js/bootstrap.min.js"></script>
     <script>
function helpEntry() {
    alert("Tutorials\n\nThis page intends to help you record your meals. You record meals by either take a photo or leave some texts. And you will then do  self-rate about current mood, food taste and food healthy level."
      );
}
</script>
</html>
