<!DOCTYPE html>
<head>
  <title>Food Diary App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/style.css"  type="text/css" rel="stylesheet">
  <link href="/css/bootstrap-grid.css"  type="text/css" rel="stylesheet">
  <link href="/css/bootstrap-reboot.css"  type="text/css" rel="stylesheet">
  <link href="/css/bootstrap.css" type="text/css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery.js"></script>
<h1>FOOD</h1>
</head>
<body>
  <script src="/js/bootstrap.bundle.js"></script>
  <script src="/js/bootstrap.js"></script>
</body>

</html>
