<!DOCTYPE html>
<html lang="en">

<head>
  <title>Food Diary App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<h1>FOOD</h1>
</head>
<body>
</body>

</html>
