<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">

</head>
<body>
<div id="root" class="text-center">
<h1 class="page-header " >Login</h1>
	<div class="container">
		<div class="form-group">
			<input type="text" class="larger" name="userid" placeholder="Username">
		 </div>
		<div class="form-group">
			<input type="text" class="larger" name="password" placeholder="password">
		</div>

		<div class="form-group">
			<a href="/index" role="button" class="btn btn-primary btn-lg larger">Login</a>
		</div>
		<div class="form-group">
			<a href="/register" role="button" class="btn btn-primary btn-lg larger">Register</a>
		</div>

	</div>
</div>
</body>
</html>
