<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">

</head>
<body>
<div id="root">
<h1 class="page-header text-center" >Login</h1>
	<div class="container text-center">
		<div class="form-group">
			<input type="text" name="userid" placeholder="Username">
		 </div>
		<div class="form-group">
			<input type="text" name="password" placeholder="password">
		</div>
	</div>
<a href="/index" class="btn btn-primary col-lg-offset-6" role="button">Log In</a>
</div>
</body>
</html>
