<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">

</head>

<style>
body {
    background-image: url("/images/224.jpg");
}
</style>
<body>
<div id="root" class="text-center">
<h1 class="page-header " style="font-family:Palatino;">Login</h1>
	<div class="container">
		<text id="error" class="hide">Wrong Username/Password</text>
		<div class="form-group">
			<input type="text" class="larger" name="userid" id="userid" placeholder="Username" required>
		 </div>
		<div class="form-group">
			<input type="password" class="larger" name="password" id="password" placeholder="password" required>
		</div>
		<div class="form-group">
			<a href="#" role="button" class="btn btn-primary btn-lg larger" id="login">Login</a>
		</div>
		<div class="form-group">
			<a href="/register" role="button" class="btn btn-primary btn-lg larger">Register</a>
		</div>
		<div class="form-group">
			<fb:login-button
			  scope="public_profile,email"
			  onlogin="checkLoginState();">
			</fb:login-button>
		</div>
	</div>
</div>

  <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/user.js"></script>
	{{>facebook}}
	<script src="/js/facebook.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114570926-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114570926-2');
</script>

</body>
</html>
