<!doctype html>
<html>
	<head>
		<title>Food Diary App</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>

	</head>
<body>
	<div id="root">
		{{#each info.0.data}}
		<a href='#' role="button"> <img src="{{image}}" class="img-responsive img-rounded"></a>
		{{/each}}
	</div>
</body>
</html>