<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-theme.min.css" rel="stylesheet">


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<style>
body {
    background-image: url("/images/224.jpg");
}
</style>
<body>
	<div id="root" class="text-center">
		<h2 style="font-family:Palatino">Register</h2>
		<form id="addID" role="form" method="get" action="/add">
			<div id="input">
			<h4>User Name:<br><input type="text" class="larger" name="userid" required id="userid" minlength="6">*</h4><br>
			<h4>Password:<br><input type="password" class="larger" name="password" required id="password" minlength="6">*</h4><br>
			<h4>Email:<br><input type="text" class="larger" name="email" required id="email" minlength="6">*</h4><br>
			<h4>Phone:<br><input type="text" class="larger" name="phone" id="phone" ></h4><br>
			</div>
			<!--<h5 name="sample" id="sample">Hello</h5>
			-->
			<input type="submit" class="btn btn-primary larger" style="margin-top:10px;" id="register">

		</form>
					<a href="/" role="button" class="btn btn-primary larger" style="margin-top:10px;">Back</a>
</div>
	<script src="/js/user.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114570926-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114570926-2');
</script>

</body>
	</html>
