<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-theme.min.css" rel="stylesheet">


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<body>
	<div id="root" class="text-center">
		<form id="addID" role="form" method="get" action="add">
			<div id="input">
			<h4>User Name:</h4><input type="text" class="larger-text" name="userid" id="userid"><br>
			<h4>Password:</h4><input type="password" class="larger-text" name="password" id="password"><br>
			<h4>Email:</h4><input type="text" class="larger-text" name="email" id="email"><br>
			<h4>Phone:</h4><input type="text" class="larger-text" name="phone" id="phone">
			</div>
			<input type="submit" class="btn btn-primary larger" style="margin-top:10px;" id="register">
			<a href="/" role="button" class="btn btn-primary larger" style="margin-top:10px;">Back</a>
		</form>

	</div>
	<script src="/js/user.js"></script>
</body>
	</html>
