<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-theme.min.css" rel="stylesheet">


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<style>
body {
    background-image: url("/images/224.jpg");
    


}
</style>
<body>
	<div id="root" class="text-center">
<form>
	<h4> Username: <input type="text" name="username" required maxlength="12" minlength="6">*</h4><br>
	<h4> Password: <input type="password" name="password" maxlength="6" required>*</h4><br>
	<h4> Email: <input type="text" name="email" required>*</h4><br>
	<h4> Phone: <input type="text" name="phone" maxlength="10"></h4><br>
	<input type="submit" class="btn btn-primary larger" style="margin-top:10px;"><br>
</form>

</div>

	<div id="root" class="text-center">
		<form action= id="addID" role="form" method="get" action="add">
			<div id="input">
			<h4>User Name:</h4><input type="text" class="larger" name="userid"id="userid">*<br>
			<h4>Password:</h4><input type="password" class="larger" name="password" id="password">*<br>
			<h4>Email:</h4><input type="text" class="larger" name="email" required id="email">*<br>
			<h4>Phone:</h4><input type="text" class="larger" name="phone" required id="phone">
			</div>
			<input type="submit" class="btn btn-primary larger" style="margin-top:10px;" id="register">
			<a href="/" role="button" class="btn btn-primary larger" style="margin-top:10px;">Back</a>
		</form>





	<script src="/js/user.js"></script>
</body>
	</html>

<!--
	<div id="root" class="text-center">
		<form action= id="addID" role="form" method="get" action="add">
			<div id="input">
			<h4>User Name:</h4><input type="text" class="larger" name="userid"id="userid">*<br>
			<h4>Password:</h4><input type="password" class="larger" name="password" id="password">*<br>
			<h4>Email:</h4><input type="text" class="larger" name="email" required id="email">*<br>
			<h4>Phone:</h4><input type="text" class="larger" name="phone" required id="phone">
			</div>
			<input type="submit" class="btn btn-primary larger" style="margin-top:10px;" id="register">
			<a href="/" role="button" class="btn btn-primary larger" style="margin-top:10px;">Back</a>
		</form>
	-->
