<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">

</head>
<style>
body {
    background-image: url("/images/224.jpg");

}
h3 {
	margin-left: 30px;
    text-align: left;
    font-family: "Comic Sans MS", cursive, sans-serif;

}
h4{
	text-align:left;
	margin-left: 60px;
	display:inline-block;
    float:left;
}
label {
	font: Arial, Helvetica, sans-serif 100px;
	margin-left: 40px;
}

</style>
<body>
	<div class="navbar" style="float:left">
		<div class="dropdown">
			<button  class="glyphicon glyphicon-list transparent-button "  style="font-size:40px;"></button>
			<div class="dropdown-content">
				<a href="/index">Home</a>
				<a href="/tab/entry">Entry</a>
				<a href="/tab/diary">Diary</a>
				<a href="/tab/stat">Statistics</a>
				<a href="/tab/news">News</a>
				<!--<a href="/tab/community">Community</a>-->
				<a href="/" style="color:red;">Log Out</a>
		</div>
	</div>
	<!--
	  <a href="/tab/help" class="col-lg-offset-4 glyphicon glyphicon-question-sign" style="margin-top:10px; font-size:40px" role="button" id="help" name="entry"></a>
	-->
</div>
<hr>
<div class="text-center" id="root">
	<h1 class="page-header text-center" >Settings</h1>
	<h3>Account Information</h2><hr>
	<div class="container" id="account">
		<h4>Username: {{info.0.id}}</h4>
		<h4>Email: {{info.0.email}}</h4>
		<h4>Phone: {{info.0.phone}}</h4>
	</div>
	<form>
		<fieldset>
			<h3>Notifications:</h2><hr>
				<div id="Location">
					<h4>Allow Location</h4>
					<label for="location"></label>
					<label class="switch">
		  			<input type="checkbox">
		  			<span class="slider round"></span>
					</label><br>
				</div>
				<div id="camera">
					<h4>Allow Location</h4>
					<label for="camera"></label>
					<label class="switch">
				  	<input type="checkbox">
				  	<span class="slider round"></span>
				</label><br>
				</div>
		</fieldset>
	</form>
	<hr>
	<h3>Privacy</h2><hr>
		<div id="share">
			<h4>Share my diary</h4>
			<label class="switch">
	  		<input type="checkbox">
	  		<span class="slider round"></span>
			</label>
		</div>
	<hr>
</div>
</body>
</html>
