<!doctype html>

<html>
<head>
  <title>Food Diary App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<!-- jQuery (necessary for Bootstrap's JavaScript vvplugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<style>
/*
    @media (max-width: 600px) {
          body {
        background-image: url("/images/use2.png");
        background-size: 100vw 100vh;
     }
}
@media (min-width: 768px) and (max-width: 991px) {
      body {
        background-image: url("/images/use2.png");
        background-size: 75vw 85vh;
     }
}
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        background-image: url("/images/use2.png");
        background-size: 50vw 65vh;
     }
}
@media (min-width: 1200px) {
      body{
        background-image: url('/images/use2.png');
        background-size:25vw 50vh;
      }
}
*/
.page-header3 {
  padding-bottom: 13px;
  margin: 0px 0 20px;
  border-bottom: 0px solid #eeeeee;
  font-family: Comic Sans MS, cursive, sans-serif;
  font-size:;
  background-color: #25a725ab;
}
/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-color: orange;
    color: white;
}
.modal-body {padding: 2px 16px;}
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
* {
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}
/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: 25px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.prev {
  border-radius: 3px 0 0 3px;
  background-color: white;
  color:orange;
  left:0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  background-color: white;
  color:orange;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #f5dab5;
  color:white;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* Container for image text */
.caption-container {
  text-align: center;
  background-color: white;
  padding: 0px 10px;
  color: coral;
}
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

h4{
	text-align: left; 
	font-weight: bold
}

</style>

<body>

  <input type="hidden" id="userid" name="userid" value=""/>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2 style="text-align: center;">Q & A</h2>
    </div>
    <div class="modal-body">
      <h4>What is the graph?</h4>
      <p>  The original graph presenting is the overall graph combining all four elements for a random time period.</p>
      <h4> How to can I see different time period?</h4>
      <p>  Move the upper scroller to right or left to change time period and hold the middle of scroller to transition to different days. </p>
      <p> Or you can hold down on the graph and move it to certain date to see the data between those two dates.
      <h4> How can I see data for a particular day?</h4>
      <p>  Click on the graph body, you should see the exact date you click on and four elements' data for that date</p>
      <h4> How to view a single graph for a particular element?</h4>
      <p>  Click on the label under the graph. You could click on it to remove that element from graph, and click on again to reset it back. </p>



    </div>

  </div>

</div>


<div class="page-header">
<h1 style="text-align:center; color:#f0ad4e; " >Statistics</h1>
<button id="setting" style="margin-top:-68px;float:right; background-color: transparent; color:#f0ad4e; font-size: 31px;" class="btn glyphicon glyphicon-cog"><br></button>
<!--<button style="color:orange; background-color: transparent;border-color: transparent;margin-right:10px;margin-top:-19px;float:right;text-decoration: underline;"  id="myBtn222">How to use this graph?</button>
-->

</div>


<div id="root" class="text-center" style="margin-top:20px;">

	<button style="color:orange; background-color: transparent;border-color: transparent;margin-right:20px;margin-top:-16px;float:right;text-decoration: underline; font-size: 11px;"  id="myBtn222">How to use this graph?</button>
	<div class="container" style="background-color:white;">
		<div id="chartdiv"></div>
	</div>

<!--
<h3 style="text-align:center">Food Gallery</h3>
<div class="container">
  {{#each datas}}
  <div class="mySlides">
   <div class="caption-container">
    <p id="caption">{{date}}</p>
  </div>
    <img src="{{image}}" class="resize" style="width:350px;height:220px;">
  </div>
{{/each}}
  </div>
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>
-->
  </div>



  <div class="w3-container" style="margin-top:0px;">

  <button onclick="document.getElementById('id01').style.display='block'" style="margin-left: 36px; margin-top: 10px; font-size:17px; color:coral;background-color:#f0ad4e63; border-color: transparent;">Food Gallery</button>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <p style="text-align: center;color:coral;">Food Gallery</p>
   <!-- Food Gallery starts here -->
        <div class="container">
  {{#each datas}}
  <div class="mySlides">

   <div class="caption-container">
    <p style="font-size: 10px;" id="caption">{{date}}</p>
  </div>
    <img src="{{image}}" class="resize" style="width:300px;height:220px;">

  </div>
{{/each}}
  </div>
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>
      </div>
    </div>
  </div>
</div>




  <div id="bottom" style="margin-top:30px;">
        <button id="diary" style="background-color: #fcf8e3; color:#f0ad4e; font-size: 19px;" class="quarter glyphicon glyphicon-book btn"><br>Diary</button>
        <button id="entry" style="background-color: #fcf8e3; color:#f0ad4e; font-size: 19px;" class="btn quarter glyphicon glyphicon-pencil"><br>Entry</button>
        <button id="stat" style="background-color: #f7f0a1; color:#f0ad4e; font-size: 19px;" class="btn quarter glyphicon glyphicon-stats"><br>Stats</button>

        <button id="news" style="background-color: #fcf8e3; color:#f0ad4e; font-size: 19px;" class="btn quarter glyphicon glyphicon-film"><br>News</button>
      </div>

</div>
<script src="/js/user.js"></script>
<script src="/js/entry.js"></script>
<script src="/js/stat.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
  document.getElementById('userid').value=sessionStorage.getItem('userid');
function helpStat() {
    alert("Tutorials\n\nThis page gives out statistical analysis with graphs to help you track your self-logged meals. It will provides you weekly, monthly and yearly barchart graphs about your food health, food taste and mood."
      );
}
</script>
<!-- modal -->
<script>
// Get the modal
var modal = document.getElementById('myModal');
// Get the button that opens the modal
var btn = document.getElementById("myBtn222");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

    <script>
      function showDiv() {
       document.getElementById('welcomeDiv').style.display = "block";
    }
      </script>

<script>
var slideIndex = 1;
showSlides(slideIndex);
function plusSlides(n) {
  showSlides(slideIndex += n);
}
function currentSlide(n) {
  showSlides(slideIndex = n);
}
function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";

  //dots[slideIndex-1].className += " active";
  //captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>

</body>
</html>