<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
		<div class="navbar col-lg-offset-5">
		<div class="dropdown">
			<button  class="glyphicon glyphicon-list transparent-button "  style="font-size:40px;"></button>
			<div class="dropdown-content">
				<a href="/index">Home</a>
				<a href="/tab/entry">Entry</a>
				<a href="/tab/diary">Diary</a>
				<a href="/tab/anxiety">Anxiety</a>
				<a href="/tab/news">News</a>
				<a href="/tab/community">Community</a>
				<a href="/tab/setting">Setting</a>
				<a href="/" style="color:red; bottom:0;">Log Out</a>
		</div>
	</div>

	  

	  <a href="#" class="col-lg-offset-4 glyphicon glyphicon-question-sign" onclick="helpStat()" style="margin-top:10px; font-size:40px" role="button" id="help" name="stat"></a>

</div>
<div id="root" class="text-center">
	<h1 class="page-header" >Statistics</h1>
	<div align="center" >
			<a href="#" class="btn selection" role="button" id="taste">Taste</a>
			<a href="#" class="btn selection" role="button" id="health">Health</a>
			<a href="#" class="btn selection" role="button" id="mood">Mood</a>
			<a href="#" class="btn selection" role="button" id="anxiety">Anxiety</a>
	</div>
	<div class="container">
	<select name="timespan" class="col-lg-offset-2" >
		<option value="weekly" id="week">Weekly</option>
		<option value="monthly" id="month">Monthly</option>
		<option value="yearly" id="year">Yearly</option>
	</select>
	<a href = "/tab/cal1" row = "button" class="glyphicon glyphicon-calendar" style="padding-left:5px; font-size:50px"></a><br>
	<div class="container large-box" style="background-color:red border-color:red">
		<img src="/images/blank.jpg" class="img">
	</div>
</div>
<a href="/index" class="btn btn-primary col-xs-offset-5" role="button">Back</a>
<script src="/js/stat.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
function helpStat() {
    alert("Tutorials\n\nThis page gives out statistical analysis with graphs to help you track your self-logged meals. It will provides you weekly, monthly and yearly barchart graphs about your food health, food taste and mood."               
      );
}
</script>
</body>
</html>
